body {
    font-family: 'Baloo 2', cursive;
    color: #04A777;
    /*background-image: linear-gradient(rgba(255,255,255,0.9),rgba(255,255,255,0.9)), url('imag/head.jpeg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;*/
    background-color:white;
  
}
.primary-color {
    color: #D90368;
}


.reg_btn {
    animation: fromright;
    animation-duration: 4s;
    animation-delay: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
    margin: 4px;
}
@keyframes fromright {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    50% {
        transform: translateX(-30px);
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes fromleft{
    0%{
        transform:translateX(-100px);
        opacity:0;

    }
    50% {
        transform: translateX(30px);
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
.item-container {
    position: relative;
    overflow: hidden;
     border:none;
    transition:all 2s ease;
    margin:5px;
}
.item-img {
    transition: all 2s ease;
    width: 400px;
    height: 300px;
    background: transparent;
    border: none;
}
.item-container:hover{
    transform:scale(.8);
    opacity:1;
}
.container {
    height: 300px;
    align-content: center;
    
}
.item-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
    font-size: 2rem;
    border-top: 3px solid #04A777;
    border-bottom: 3px solid #04A777;
    transition: all 2s ease;
   opacity:0;
}
.item-container:hover .item-link{
    opacity:1;
}
.item-link:hover {
    color: #04A777;
    border: 2px solid #E0777D;
    background-color:whitesmoke;
    color :#D90368;
}

#menue {
    padding-left: 35px;
    background-image: linear-gradient(rgba(255,255,255,0.9),rgba(255,255,255,0.9)), url('imag/head.jpeg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#Diets {
    background-color: whitesmoke;
}
.single-item {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 120px;
    padding-left: 60px;
    padding-right: 0px;
    border-bottom: 1px solid gray;
    transition: all 1s ease;
    
}
.single-item h2{
    font-size:25px;
   
}
    .single-item .price {
        color: #D90368;
        
        margin-right:auto;
        margin-left: auto;
    }
.single-item:hover {
        border: 2px solid #D90368;
        transform: rotate(20deg);
        z-index: 30;
        opacity: 1;
        position: relative;
        border: 2px solid #FF4F79;
    }
#about {
    padding: 40px;
}
.about-pics{
    position:relative;
    padding:40px;
 }

.about-img {
    position: absolute;
    width: 150px;
    transition: all 2s ease;
    opacity: 0.9;
    padding-top:40px;
}

.img-1 {
    left: 0%;
    top: 140px;
}

.img-2 {
    left: 0%;
    top: 0%;
    z-index: 10;
}

.img-3 {
    left: 25%;
    top: 65px;
    z-index: 20;
}

.img-4 {
    left: 50%;
    top: 140px;
}

.img-5 {
    left: 50%;
    top: 0%;
}

.about-img:hover {
    border: 5px solid #D90368;
    outline-offset:0.8rem;
    transform:scale(0.8);
    transform: rotate(20deg);
    z-index:30;
    opacity:1;
}
.about-pics:hover .about-img:not(:hover){
    opacity:0.5;
}





.selected {
    border: 2px solid #39A0ED;
   
}